@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rolling {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY((-100% / 6) * (5));
    }
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
