@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rolling {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY((-100% / 6) * (5));
    }
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
